.book{
    background:linear-gradient(to right, $primary-dark 45%, $primary-dark-20 49%, $primary-dark-50 50%, $primary-dark-20 51%, $primary-dark 55%);
    @include initialFlex();
    padding: 10px;

    &__page{
        flex-basis: 50%;
        background: #fff;

        &--left{
            box-shadow: -5px 5px 16px 0 rgba(0,0,0,0.2), -6px 6px 20px 0 rgba(0,0,0,0.19) ;
        }

        &--right{
            box-shadow: 5px 5px 16px 0 rgba(0,0,0,0.2), 6px 6px 20px 0 rgba(0,0,0,0.19) ;
            background: linear-gradient(to right,  #d9d9d9 0%,#f9f9f9 3%,#ffffff 8%,#ffffff 100%);
        }
    }
}