.content{
    @include content();
}

.container{
    padding:10px 20px;

    &--split{
        width:50%;
        display: inline-block;
    }

    &--center{
        text-align: center;
    }
}

.background{
    margin:20px;

    &--white{
        background-color: #fff;
    }
    &--grey{
        background-color: $grey; 
    }
}