.container{
    padding: 0 20px;

    &--split{
        width:50%;
        display: inline-block;
    }

    &--center{
        text-align: center;
    }
}

.background{
    &--grey{
    background-color: $grey; 
    }
}