body{
    font-family:sans-serif;
    width:100%;
    margin:0;
    margin-bottom:50px;
    background: $grey;
}

.content{
    width:80%;
    margin: 10px auto;
}

.container{
    padding:10px 20px;

    &--split{
        width:50%;
        display: inline-block;
    }

    &--center{
        text-align: center;
    }
}

.background{
    margin:20px;

    &--white{
        background-color: #fff;
    }
    &--grey{
        background-color: $grey; 
    }
}

.image{
    width:80%;
}