.navigation{
    margin: 0;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background:$dark;

    &__item{
        float: left;
    }
    
    &__button{
        display: inline-block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        color: #fff;

        &--main{
            color:#000;
            background-color:$primary--light;
            font-weight: bold;
        }
    }
}
