.navigation {
  margin: 0;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background: #333333; }
  .navigation__item {
    float: left; }
  .navigation__button {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #fff; }
    .navigation__button--main {
      color: #000;
      background-color: #c2adeb;
      font-weight: bold; }

body {
  font-family: sans-serif;
  width: 100%;
  margin: 0;
  margin-bottom: 50px;
  background: #d9d9d9; }

.content {
  width: 80%;
  margin: 10px auto; }

.container {
  padding: 10px 20px; }
  .container--split {
    width: 50%;
    display: inline-block; }
  .container--center {
    text-align: center; }

.background {
  margin: 20px; }
  .background--white {
    background-color: #fff; }
  .background--grey {
    background-color: #d9d9d9; }

.image {
  width: 80%; }

.grid {
  display: flex;
  flex: 0 1 auto; }
  .grid__column--4 {
    flex-basis: 33%; }
  .grid__column--6 {
    flex-basis: 50%; }
  .grid__column--8 {
    flex-basis: 66%; }

.matrix__input {
  width: 20px; }

.book {
  background: linear-gradient(to right, #a484e1 45%, #855bd7 49%, #3e1e7b 50%, #855bd7 51%, #a484e1 55%);
  display: flex;
  flex: 0 1 auto;
  padding: 10px; }
  .book__page {
    flex-basis: 50%;
    background: #fff; }
    .book__page--left {
      box-shadow: -5px 5px 16px 0 rgba(0, 0, 0, 0.2), -6px 6px 20px 0 rgba(0, 0, 0, 0.19); }
    .book__page--right {
      box-shadow: 5px 5px 16px 0 rgba(0, 0, 0, 0.2), 6px 6px 20px 0 rgba(0, 0, 0, 0.19);
      background: linear-gradient(to right, #d9d9d9 0%, #f9f9f9 3%, #ffffff 8%, #ffffff 100%); }
