.navigation {
  margin: 0;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background: #333333; }
  .navigation__item {
    float: left; }
  .navigation__button {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #fff; }
    .navigation__button--main {
      color: #000;
      background-color: #c2adeb;
      font-weight: bold; }

#footer {
  width: 100%;
  height: 50px;
  background: #c2adeb;
  position: fixed;
  bottom: 0px;
  color: #000; }

.container {
  padding-left: 20px;
  padding-right: 20px; }
  .container--split {
    width: 50%;
    display: inline-block; }
  .container--center {
    text-align: center; }

.background--grey {
  background-color: #d9d9d9; }

.grid {
  display: flex;
  flex: 0 1 auto; }
  .grid__column--4 {
    flex-basis: 33%; }
  .grid__column--6 {
    flex-basis: 50%; }
  .grid__column--8 {
    flex-basis: 66%; }

.matrix__input {
  width: 20px; }

body {
  width: 100%;
  margin: 0;
  margin-bottom: 50px; }
