@import './utils/_variables.scss';
@import './core/header.scss';
@import './core/footer.scss';
@import './core/general.scss';
@import './core/grid.scss';
@import './components/travellingSalesman';

body{
    width:100%;
    margin:0;
    margin-bottom:50px;
}